@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    border: 1px solid black;
    padding: theme(spacing.8) theme(spacing.4);
    font-size: 12px;
    height: calc(1.2em * 6 + 3em);
    background-color: white;
  }
  /* ... */
  .under-construction {
    background-color: white;
    color: gray;
    opacity: 0.7;
    z-index: 999;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(2 * 16vh + 0.5rem + 3px);
    top: calc(16vh + 0.5rem - 2px)
  }
}
